/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
	styles

*/
.astro {
	position: relative;
}

.astro__img {
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
}

.astro__img:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}


.astro__info {
	display: none;
	position: absolute;
	top: 2em;
	right: 2em;
	width: 30%;
	padding: 1.5em;
	font-family: verdana;
    font-size: 0.8em;
    line-height: 1.2;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 4px;    
}

.astro__info > h2 {
	margin-bottom: 1em;
	font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5;
}


.quote {
	position: absolute;
	bottom: 5em;
	left: 0;
	right: 0;
	width: 60%;
	margin: auto;
	padding: 1em;
	background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 2.5em;
    color: #fff;
}


.sw__character {
	display: block;
	font-family: georgia, serif;
	font-size: 2em;
	font-weight: 100;
	font-style: italic;
}

.toggle {
	display: block;
	position: absolute;
    right: 0.8em;
    top: 0.8em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 30px;
    font-size: 1.5em;
    font-family: georgia, serif;
    font-style: italic;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.8);
    cursor: pointer;
    z-index: 99;
}


.toggle.open {
	font-family: verdana;
    font-style: normal;
    background: rgba(0,0,0,0.8);
    color: #ccc;
    line-height: 1.3;
}